.container {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: 'Cabin', sans-serif;
}

.sectionA {
    display: flex;
    background-image: url(./assets/wabi-bg.jpg);
    width: 1200px;
    height: 450px;
    justify-content: center;
    align-items: center;
    column-gap: 35px;

}

.glam-left img {
    display: flex;
    width: 330px;
    height: 375px;
}


.glam-center {
    display: flex;
    color: #ffff;
    width: 380px;
    font-size: 2.0rem;
    line-height: 3.0rem;
}

.glam-right img {
    display: flex;
    width: 330px;
    height: 375px;
}

.sectionB {
    display: flex;
    position: absolute;
    width: 1200px;
    height: 70px;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    background-color: white;
    color: #ffff;
    bottom: 80px;
    text-align: center;
}

.glam-left-text {
    background-color: hsla(43, 89%, 7%, 0.774);
    width: 390px;
}

.glam-center-text {
    background-color: hsla(43, 89%, 7%, 0.774);
    width: 360px;
}

.glam-right-text {
    background-color: hsla(43, 89%, 7%, 0.774);
    width: 390px;
}